<div class="search-bar">
  <%= search_form_for @q do |f| %>
  
    <%= f.label :name_sin_acentos_cont, "Título" %>
    <%= f.search_field :name_sin_acentos_cont %>

    <%= f.label :author_sin_acentos_cont, "Artista" %>
    <%= f.search_field :author_sin_acentos_cont %>

    <%= f.label :category_i_cont, "Género/Categoría" %>
    <%= f.search_field :category_i_cont %>

    <%= f.label :type_eq, "Tipo" %>
    <%= f.select :type_eq, [['Vinilo', 'Vinilo'], ['CD', 'CD']], include_blank: 'Todos' %>

    <%= f.submit "Buscar" %>
  <% end %>
</div>

<div class="products-grid">
  <% @products.each do |product| %>
    <div class="product-card">
      <% if product.cover_image %>
        <%= image_tag product.cover_image.url %> 
      <% end %>
      
      <h3><%= product.name %></h3>
      <h4><%= product.author %></h4>
      <p>Precio: $<%= product.price %></p>
      
      <p>Stock: <%= product.current_stock %></p>

      <%= link_to "Ver Detalle", product_path(product) %>
    </div>
  <% end %>
</div>

<%= paginate @products %>